@use 'sass:map';

@use 'vuetify/settings' with (
	$typography: (
		'h1': (
			'size': 24px,
			'weight': 700,
			'line-height': 1.5,
			'text-transform': none,
		),
		'h2': (
			'size': 20px,
			'weight': 700,
			'line-height': 1.5,
			'text-transform': none,
		),
		'h3': (
			'size': 18px,
			'weight': 700,
			'line-height': 1.5,
			'text-transform': none,
		),
		'body-1': (
			'size': 16px,
			'weight': 400,
			'line-height': 1.25,
			'text-transform': none,
		),
		'caption': (
			'size': 12px,
			'weight': 400,
			'line-height': 1.5,
			'text-transform': none,
		),
		'button': (
			'size': 16px,
			'weight': 400,
			'line-height': 1.25,
			'text-transform': none,
		),
	)
);
